
    .anime-card {
        flex: 1 1 33.333%;
        max-width: 200px;
    
    
        padding: 5px;
        /* border: solid #313131 5px; */
        border-radius: 15px;
        margin-bottom: 15px;
        background-color: #4CB944;
    }
    
    
    
    figure{
        /* margin-left: auto; */
        margin-bottom: 16px;
        /* display: flex;
        justify-content: center;
        margin: auto; */
        
    }
    
    a{
        text-decoration: none;
        margin: auto;
    }
    
    .anime-card img {
       
            display: block;
            
            width: 80%;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
            /* margin-left: 30%; */
            transition: 0.4s;
        
    }
    
    h3{
        text-align: center;
        color: #313131;
        font-size: 16px;
    }
    
